openapi: 3.0.0

servers:
  - description: WapiKit Server
    url: https://api.wapikit.com/api

info:
  version: "0.0.1"
  title: Wapikit
  description: The API collection for WapiKit
  license:
    name: AGPL-3.0
    url: https://github.com/wapikit/wapikit/blob/master/LICENSE
  contact:
    email: contact@softlancer.co
    name: Sarthak
    url: https://wapikit.com/contact-us
  termsOfService: https://wapikit.com/terms-and-conditions

tags:
  - name: Auth
    description: Auth API

  - name: Lists
    description: User API

  - name: Organization
    description: Organization API
  - name: Contacts
    description: Contacts API

  - name: User
    description: User API

  - name: Campaigns
    description: Campaigns API

  - name: Messages
    description: Messages API

  - name: Conversations
    description: Conversations API

  - name: System
    description: System API

  - name: Miscellaneous
    description: Miscellaneous API

  - name: RBAC
    description: Role based access control API

  - name: AI
    description: AI API

paths:
  /health-check:
    get:
      tags:
        - System
      description: healthcheck endpoint
      operationId: getHealthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean

  /meta-data:
    get:
      tags:
        - System
      description: returns the meta data
      operationId: getMetaData
      responses:
        "200":
          description: meta data object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMetaDataResponseSchema"

  /events:
    get:
      summary: Subscribe to real-time events
      description: |
        Opens a persistent connection for real-time updates using Server-Sent Events (SSE).
        The client should listen to events and process incoming messages.
      operationId: getSSEUpdates
      tags:
        - Events
      responses:
        "200":
          description: Stream of real-time events
          content:
            text/event-stream:
              schema:
                type: string

  /auth/login:
    post:
      tags:
        - Auth
      description: login endpoint
      operationId: login
      requestBody:
        description: login credentials
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequestBodySchema"
      responses:
        "200":
          description: login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseBodySchema"

  /auth/register:
    post:
      tags:
        - Auth
      description: register endpoint
      operationId: register
      requestBody:
        description: register credentials
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequestBodySchema"
      responses:
        "200":
          description: register response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterRequestResponseBodySchema"

  /auth/verify-email:
    post:
      tags:
        - Auth
      description: verify otp endpoint
      operationId: verifyOtp
      requestBody:
        description: otp credentials
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequestBodySchema"
      responses:
        "200":
          description: verify otp response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyOtpResponseBodySchema"

  /auth/api-keys/regenerate:
    get:
      tags:
        - Organization
      description: regenerates the API key
      operationId: regenerateApiKey
      responses:
        "200":
          description: api key object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegenerateApiKeyResponseSchema"

  /auth/join-organization:
    post:
      tags:
        - Organization
      description: join an organization
      operationId: joinOrganization
      requestBody:
        description: organization id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinOrganizationRequestBodySchema"
      responses:
        "200":
          description: join organization response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JoinOrganizationResponseBodySchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /auth/reset-password/init:
    post:
      tags:
        - Auth
      description: reset password init endpoint
      operationId: resetPasswordInit
      requestBody:
        description: email
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        "200":
          description: reset password init response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordInitResponseBodySchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /auth/reset-password/verify:
    post:
      tags:
        - Auth
      description: reset password verify endpoint
      operationId: resetPasswordVerify
      requestBody:
        description: reset password verify credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                email:
                  type: string
              required:
                - otp
                - email
      responses:
        "200":
          description: reset password verify response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordVerifyResponseBodySchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /auth/reset-password/complete:
    post:
      tags:
        - Auth
      description: reset password complete endpoint
      operationId: resetPasswordComplete
      requestBody:
        description: reset password complete credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - otp
                - password
      responses:
        "200":
          description: reset password complete response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordCompleteResponseBodySchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /user:
    get:
      tags:
        - User
      description: returns the user object
      operationId: getUser
      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - User
      description: update user info
      operationId: updateUser
      requestBody:
        description: updated user info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /user/notifications:
    get:
      tags:
        - User
      description: returns all notifications
      operationId: getUserNotifications
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: notifications list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserNotificationsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /system/feature-flags:
    get:
      tags:
        - User
      description: returns all feature flags
      operationId: getUserFeatureFlags
      responses:
        "200":
          description: feature flags list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFeatureFlagsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /auth/api-keys:
    get:
      tags:
        - Auth
      description: returns all api keys
      operationId: getApiKeys
      responses:
        "200":
          description: api keys list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeysResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /auth/switch:
    post:
      tags:
        - Auth
      description: switch user organization
      operationId: switchOrganization
      requestBody:
        description: organization id
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchOrganizationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization:
    post:
      tags:
        - Organization
      description: create a new organization
      operationId: createOrganization
      requestBody:
        description: new organization info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationSchema"

      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewOrganizationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    get:
      tags:
        - Organization
      description: returns all organizations
      operationId: getUserOrganizations
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organizations list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/{id}:
    get:
      tags:
        - Organization
      description: returns the organization object
      operationId: getOrganizationById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization
      description: update an organization
      operationId: updateOrganization
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationSchema"

      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/ai-configuration:
    get:
      tags:
        - Organization
      description: returns the full ai configuration with api key
      operationId: getAIConfiguration
      responses:
        "200":
          description: AI configuration object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAiConfigurationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /rbac/roles:
    get:
      tags:
        - Organization
      description: returns all organization roles
      operationId: getOrganizationRoles
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization roles list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationRolesResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization role
      operationId: createOrganizationRole
      requestBody:
        description: new organization role info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationRoleSchema"

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewRoleResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /rbac/roles/{id}:
    get:
      tags:
        - Organization
      description: returns a single organization role
      operationId: getOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoleByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization
      description: updates a organization role
      operationId: updateOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to update.
          schema:
            type: string
      requestBody:
        description: update an organization role info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleUpdateSchema"

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRoleByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      tags:
        - Organization
      description: delete an organization role
      operationId: deleteOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization role you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRoleByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/tags:
    get:
      tags:
        - Organization
      description: returns all organization tags
      operationId: getOrganizationTags
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization tags list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationTagsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization tag
      operationId: createOrganizationTag
      requestBody:
        description: new organization tag info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationTagSchema"

      responses:
        "200":
          description: tag object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewOrganizationTagResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/invites:
    get:
      tags:
        - Organization
      description: returns all organization invites
      operationId: getOrganizationInvites
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization invites list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMemberInvitesResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization invite
      operationId: createOrganizationInvite
      requestBody:
        description: new organization invite info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNewOrganizationInviteSchema"

      responses:
        "200":
          description: invite object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInviteResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/invite/{slug}:
    get:
      tags:
        - Organization
      description: returns a single organization invite
      operationId: getOrganizationInviteBySlug
      parameters:
        - in: path
          name: slug
          required: true
          description: The slug value of the invite you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization invite object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationInviteBySlugResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/invite/{slug}/accept:
    post:
      tags:
        - Organization
      description: accept an organization invite
      operationId: acceptOrganizationInvite
      parameters:
        - in: path
          name: slug
          required: true
          description: The slug value of the invite you want to accept.
          schema:
            type: string
      responses:
        "200":
          description: invite object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptOrganizationInviteResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/members:
    get:
      tags:
        - Organization
      description: returns all organization members
      operationId: getOrganizationMembers
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization members list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMembersResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/members/{id}:
    get:
      tags:
        - Organization Members
      description: returns a single organization member
      operationId: getOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization member object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMemberByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Organization Members
      description: update a organization member
      operationId: updateOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization member info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationMemberSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateOrganizationMemberByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      tags:
        - Organization Members
      description: delete an organization member
      operationId: deleteOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrganizationMemberByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/members/{id}/role:
    post:
      tags:
        - Organization Members
      description: update a organization member role
      operationId: updateOrganizationMemberRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization member role info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationMemberRoleSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationMemberRoleByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/{id}/transfer:
    post:
      tags:
        - Organization
      description: transfer organization ownership
      operationId: transferOrganizationOwnership
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the organization to transfer to.
          schema:
            type: string
      requestBody:
        description: new owner info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferOrganizationOwnershipSchema"
      responses:
        "200":
          description: transfer ownership response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferOrganizationOwnershipResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/templates:
    get:
      tags:
        - Organization
      description: returns all templates
      operationId: getAllTemplates
      responses:
        "200":
          description: templates list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllMessageTemplatesResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/templates/{id}:
    get:
      tags:
        - Organization
      description: returns a single template
      operationId: getTemplateById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the template you want to get.
          schema:
            type: string
      responses:
        "200":
          description: template object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTemplateByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/phone-numbers:
    get:
      tags:
        - Organization
      description: returns all phone numbers linked to the whatsapp business account
      operationId: getAllPhoneNumbers
      responses:
        "200":
          description: phone numbers list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllPhoneNumbersResponseSchema"

  /organization/phone-numbers/{id}:
    get:
      tags:
        - Organization
      description: returns a single phone number linked to the whatsapp business account
      operationId: getPhoneNumberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the phone number you want to get.
          schema:
            type: string
      responses:
        "200":
          description: phone number object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPhoneNumberByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /organization/whatsappBusinessAccount:
    post:
      tags:
        - Organization
      description: updates whatsapp business account details for a organization
      operationId: updateWhatsappBusinessAccountDetails
      requestBody:
        description: new whatsapp business account info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWhatsAppBusinessAccountDetailsSchema"

      responses:
        "200":
          description: whatsapp business account object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsAppBusinessAccountDetailsSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /contacts:
    get:
      tags:
        - Contacts
      description: returns all contacts.
      operationId: getContacts
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: list_id
          description: query subscribers with a list id.
          schema:
            type: string
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            type: string

      responses:
        "200":
          description: contacts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: handles creation of new contacts
      operationId: createContacts
      tags:
        - Contacts
      requestBody:
        description: new contact info
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/NewContactSchema"

      responses:
        "200":
          description: contact object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewContactResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      description: handles contact deletion
      operationId: deleteContactsByList
      tags:
        - Contacts
      parameters:
        - in: query
          name: id
          required: true
          description: contact id/s to be deleted
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /contacts/bulk-import:
    post:
      description: handles bulk import of contacts
      operationId: bulkImportContacts
      tags:
        - Contacts
      requestBody:
        description: new contact info
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to be imported
          application/json:
            schema:
              $ref: "#/components/schemas/BulkImportSchema"

      responses:
        "200":
          description: contact object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkImportResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  "/contacts/{id}":
    get:
      description: handles the retrieval of a single contact by id.
      operationId: getContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contact you want to get.
          schema:
            type: string
      responses:
        "200":
          description: gets a single contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: modify contact data
      operationId: updateContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id of contact to update
          schema:
            type: string
      requestBody:
        description: updated contact info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactSchema"
      responses:
        "200":
          description: returns updated contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateContactByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      description: handles contact deletion based on id
      operationId: deleteContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contacts you want to delete.
          schema:
            type: string

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteContactByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /lists:
    get:
      tags:
        - Lists
      description: returns all lists.
      operationId: getContactLists
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"

      responses:
        "200":
          description: list of contact lists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: handles creation of new list
      operationId: createList
      tags:
        - Lists
      requestBody:
        description: new list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewContactListSchema"

      responses:
        "200":
          description: list object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewListResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  "/lists/{id}":
    get:
      description: handles the retrieval of a single list by id.
      operationId: getListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListByIdSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: modify list data
      operationId: updateListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id of list to update
          schema:
            type: string
      requestBody:
        description: updated list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactListSchema"
      responses:
        "200":
          description: returns updated list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateListByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      description: handles list deletion based on id
      operationId: deleteListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /campaigns:
    get:
      tags:
        - Campaigns
      description: returns all campaigns.
      operationId: getCampaigns
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            $ref: "#/components/schemas/CampaignStatusEnum"

      responses:
        "200":
          description: list of campaigns
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/GetCampaignResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: handles creation of new campaign
      operationId: createCampaign
      tags:
        - Campaigns
      requestBody:
        description: new campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewCampaignSchema"

      responses:
        "200":
          description: campaign object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewCampaignResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  "/campaigns/{id}":
    get:
      description: handles the retrieval of a single campaign by id.
      operationId: getCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      description: modify campaign data
      operationId: updateCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id of campaign to update
          schema:
            type: string
      requestBody:
        description: updated campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignSchema"
      responses:
        "200":
          description: returns updated campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCampaignByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      description: handles campaign deletion based on id
      operationId: deleteCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversations:
    get:
      tags:
        - Conversations
      description: returns paginated conversations.
      operationId: getConversations
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            $ref: "#/components/schemas/ConversationStatusEnum"

        - name: contact_id
          in: query
          description: query conversations with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query conversations with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query conversations with a list id.
          schema:
            type: string
        - name: message_id
          in: query
          description: query conversations with a message id.
          schema:
            type: string

      responses:
        "200":
          description: list of conversations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConversationsResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversation/{id}:
    get:
      tags:
        - Conversations
      description: returns a single conversation
      operationId: getConversationById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to get.
          schema:
            type: string
      responses:
        "200":
          description: conversation object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConversationByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Conversations
      description: update a conversation
      operationId: updateConversationById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to update.
          schema:
            type: string
      requestBody:
        description: updated conversation info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConversationSchema"

      responses:
        "200":
          description: conversation object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateConversationByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    delete:
      tags:
        - Conversations
      description: delete a conversation
      operationId: deleteConversationById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteConversationByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversation/{id}/assign:
    post:
      tags:
        - Conversations
      description: assign a conversation to a user
      operationId: assignConversation
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to assign.
          schema:
            type: string
      requestBody:
        description: assign conversation info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignConversationSchema"

      responses:
        "200":
          description: conversation object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignConversationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversation/{id}/unassign:
    post:
      tags:
        - Conversations
      description: unassign a conversation from a user
      operationId: unassignConversation
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to unassign.
          schema:
            type: string
      requestBody:
        description: assign conversation info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnassignConversationSchema"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnassignConversationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversation/{id}/messages:
    get:
      tags:
        - Conversations
      description: returns all messages in a conversation.
      operationId: getConversationMessages
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to get messages from.
          schema:
            type: string
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"

      responses:
        "200":
          description: list of messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConversationMessagesResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

    post:
      tags:
        - Conversations
      description: send a message in a conversation
      operationId: sendMessageInConversation
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to send a message to.
          schema:
            type: string
      requestBody:
        description: new message info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewMessageSchema"

      responses:
        "200":
          description: message object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageInConversationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /conversation/{id}/upload:
    post:
      tags:
        - Conversations
      description: upload a file in a conversation
      operationId: uploadFileInConversation
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the conversation you want to upload a file to.
          schema:
            type: string
      requestBody:
        description: new file info
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to be uploaded

      responses:
        "200":
          description: file object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadFileInConversationResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /messages:
    get:
      tags:
        - Messages
      description: returns all messages.
      operationId: getMessages
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: status of the message
          schema:
            type: string
            enum:
              - read
              - unread
              - sent
              - failed
        - in: query
          name: direction
          description: direction of the message
          schema:
            $ref: "#/components/schemas/MessageDirectionEnum"
        - name: contact_id
          in: query
          description: query messages with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query messages with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query messages with a list id.
          schema:
            type: string
        - name: conversation_id
          in: query
          description: query messages with a conversation id.
          schema:
            type: string

      responses:
        "200":
          description: list of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessageSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseSchema"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseSchema"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponseSchema"

  /integrations:
    get:
      tags:
        - Integrations
      description: returns all integrations.
      operationId: getIntegrations
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
[...]
